header {
    background-image: url(kepek/kep_1.png);
    aspect-ratio: 1337/812;
}

/*ezt kitörölhetitek, átírhatjátok de a színek, border-radius-ok, margin/padding-ok ilyenek legyenek*/
section {
    display: grid;
    grid-template-columns: 3fr 7fr;
    gap: 20px;
}

h1 {
    margin-bottom: 20px;
}

div {
    padding: 5px;
}
article img { /*ha képet formáztok így utaljatok rá mert a sima img elrontja a vissza gomb nyílját*/
    width: 100%;
    padding: 15px;
    border-radius: 20px;
}
/*ezt kitörölhetitek, átírhatjátok de a színek, border-radius-ok, margin/padding-ok ilyenek legyenek*/
