header {
  background-image: url(kepek/kep_1.png);
  aspect-ratio: 1337/812;
}

/*ezt kitörölhetitek, átírhatjátok de a színek, border-radius-ok, margin/padding-ok ilyenek legyenek*/

h1 {
  margin-bottom: 20px;
}

.fomenu_szoveg {
  padding: 10px;
}

.fomenu_oldalak div {
  padding: 15px;
}

.fomenu_oldalak {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

h3 {
  text-align: center;
}

.teszt {
  margin: 20px;
}

article img {
  /*ha képet formáztok így utaljatok rá mert a sima img elrontja a vissza gomb nyílját*/
  width: 100%;
  border-radius: 20px;
}

article p {
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-size: 20px;
}
/*ezt kitörölhetitek, átírhatjátok de a színek, border-radius-ok, margin/padding-ok ilyenek legyenek*/
