header {
  background-image: url(kepek/kep_1.png);
  aspect-ratio: 1337/812;
}


h1 {
  margin-bottom: 20px;
}

.fomenu_szoveg {
  padding: 10px;
  text-align: justify;
}

.fomenu_oldalak div {
  border: 2px solid #949494;
  height: 100%;
}

.fomenu_oldalak {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.fomenu_oldalak div p {
  font-size: 15px;
  margin-left: 15px;
}

h3 {
  text-align: center;
}

article a {
  text-decoration: none;
  color: black;
  margin: 15px;
}

article img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

article p {
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-size: 20px;
}

h2 {
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.fomenu_oldalak div {
  transition: transform 0.3s ease;
}

.fomenu_oldalak div:hover {
  transform: scale(1.02);
}


@media screen and (max-width: 700px) {
  .fomenu_szoveg {
    text-align: left;
  }
  .fomenu_oldalak {
    grid-template-columns: repeat(2, 1fr);
  }
  h2 {
    font-size: 30px;
  }
  .fomenu_oldalak div p {
    font-size: 15px;
    margin-left: 15px;
  }
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 20px;
    font-weight: 500;
  }
}
