header {
  background-image: url(kepek/kep_1.png);
  aspect-ratio: 1337/812;
}

/*ezt kitörölhetitek, átírhatjátok de a színek, border-radius-ok, margin/padding-ok ilyenek legyenek*/

h1 {
  margin-bottom: 20px;
}

.fomenu_szoveg {
  padding: 10px;
  text-align: justify;

}

.fomenu_oldalak div {
  border: 2px solid #949494;
  margin: 15px;
}

.fomenu_oldalak {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.fomenu_oldalak div p {
  font-size: 10px;
  margin-left: 15px;
}

h3 {
  text-align: center;
}

article img {
  /*ha képet formáztok így utaljatok rá mert a sima img elrontja a vissza gomb nyílját*/
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

article p {
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-size: 20px;
}

h2 {
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}
/*ezt kitörölhetitek, átírhatjátok de a színek, border-radius-ok, margin/padding-ok ilyenek legyenek*/

@media screen and (max-width:700px) {
  .fomenu_szoveg {
    text-align: left;
  }
  .fomenu_oldalak {
    grid-template-columns: repeat(2, 1fr)
  }
  h2 {
    font-size: 30px;
  }
  .fomenu_oldalak div p {
  font-size: 15px;
  margin-left: 15px;
}
}