header {
    background-image: url(kepek/Casa_de_Don_Bosco2.jpg);
    aspect-ratio: 800/519;
}

/*ezt kitörölhetitek, átírhatjátok de a színek, border-radius-ok, margin/padding-ok ilyenek legyenek*/
.elso {
    display: grid;
    grid-template-columns: 3fr 7fr;
    gap: 20px;
} 

.tobbiResz {
    display: grid;
    grid-template-columns: 6fr 4fr;
    gap: 20px;
}

h1 {
    margin-bottom: 20px;
}

p {
    font-size: 18px;
}

div {
    padding: 5px;
}
article img { /*ha képet formáztok így utaljatok rá mert a sima img elrontja a vissza gomb nyílját*/
    width: 100%;
    padding: 15px;
    border-radius: 20px;
}
/*ezt kitörölhetitek, átírhatjátok de a színek, border-radius-ok, margin/padding-ok ilyenek legyenek*/

.bevezeto {
    font-size: 20px;
}

@media screen and (max-width:500px) {
.elso {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
} 

.tobbiResz {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
}