header {
  background-image: url(kepek/Casa_de_Don_Bosco2.jpg);
  aspect-ratio: 800/519;
}

.elso {
  display: grid;
  grid-template-columns: 3fr 7fr;
  gap: 20px;
}

.tobbiResz {
  display: grid;
  grid-template-columns: 6fr 4fr;
  gap: 20px;
}

article {
  font-family: "Outfit", sans-serif;
  font-style: normal;
}

article h1 {
  font-size: 30px
}

h1 {
  margin-bottom: 20px;
}

p {
  font-size: 18px;
}

div {
  padding: 20px;
}
article img {
  width: 100%;
  border-radius: 20px;
}

.bevezeto {
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  .elso {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .tobbiResz {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
