header {
  background-image: url(kepek/kep1.jpg);
  aspect-ratio: 1080/618;
}

/*ezt kitörölhetitek, átírhatjátok de a színek, border-radius-ok, margin/padding-ok ilyenek legyenek*/
h1 {
  margin-bottom: 20px;
}

.nagydiv {
  padding: 20px;
}

.kepkontener {
  display: grid;
  grid-template-columns: 45fr 29fr 40fr;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.height_image {
  height: 100%;
}

article {
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-size: 20px;
}

ul {
  margin-left: 40px
}

article img {
  /*ha képet formáztok így utaljatok rá mert a sima img elrontja a vissza gomb nyílját*/
  width: 100%;
  border-radius: 20px;
}
td {
  background-color: rgb(54, 54, 54);
}

th {
  background-color: rgb(64, 64, 64);
  
}

td, th {
  border: 2px solid rgb(91, 91, 91);
  padding: 5px;
}

table {
  color: white;
  border-collapse: collapse;
  border-radius: 10px;
  font-size: 16px;
}
aside {
  border-radius: 10px;
  margin-top: 20px;
}

/*ezt kitörölhetitek, átírhatjátok de a színek, border-radius-ok, margin/padding-ok ilyenek legyenek*/
@media screen and (max-width:600px) {
  .responsive {
    display: none;
  }
  .kepkontener {
    grid-template-columns: 1fr;
  }
}