header {
  background-image: url(kepek/kep2.jpg);
  aspect-ratio: 1131/654;
}

h1 {
  margin-bottom: 20px;
}

.szekcio {
  display: grid;
  grid-template-columns: 26fr 37fr 37fr;
  gap: 20px;
}

aside {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: grid;
}

.szekcio div img {
  width: 100%;
  padding-bottom: 0px;
  border-radius: 30px;
}

ul {
  list-style-position: inside;
}

li {
  margin: 10px;
}

.szekcio div {
  text-align: center;
  padding: 20px;
}

img {
  width: 100%;
}
