header {
    background-image: url(kepek/7U5A1199.jpg);
    aspect-ratio: 2400/1600;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

h1 {
    margin-bottom: 20px;
}

footer {
    text-align: center;
}

div {
    padding: 5px;
}

article img {
    width: 100%;
    padding: 15px;
    border-radius: 20px;
}

ul {
    margin-left: 20px;
}

@media screen and (max-width:600px) {
    section {
        grid-template-columns: 1fr;
    }
}