@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #acacac;
}

main {
  background-color: white;
  max-width: 900px;
  margin-inline: auto;
}

header {
  background-size: contain;

  display: grid;
  place-items: center;
}

.header_h1 {
  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;

  color: white;
  background-color: rgba(9, 9, 9, 0.5);
  padding-inline: 30px;
  border-radius: 20px;
}

.header_h1_large {
  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;

  color: white;
  background-color: rgba(9, 9, 9, 0.5);
  padding-inline: 30px;
  border-radius: 20px;
}

.header_h1_large_nav {
  display: none;
  font-family: "Outfit", sans-serif;
  font-size: 40px;
  color: black;
  margin-bottom: 0px;
  text-align: center;
  font-weight: 400;
  background-color: #d9d9d9;
}

.header_h1_medium {
  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;

  color: white;
  background-color: rgba(9, 9, 9, 0.5);
  padding-inline: 30px;
  border-radius: 20px;
}

.header_h1_medium_nav {
  display: none;
  font-family: "Outfit", sans-serif;
  font-size: 40px;
  color: black;
  margin-bottom: 0px;
  text-align: center;
  font-weight: 400;
  background-color: #d9d9d9;
}

/*nav gombok eleje*/
nav {
  position: absolute;
  margin: 10px;
}

nav a {
  background-color: rgba(9, 9, 9, 0.5);
  padding: 10px;
  border-radius: 12px;
  color: white;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  transition: transform 0.3s ease;
}

nav a:hover {
  transform: scale(1.05);
}

nav a {
  text-decoration: none;
  display: inline-block;
}

/*nav gombok vége*/

/*tartalom eleje*/
section {
  background-color: #d9d9d9;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

section div {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
/*tartalom vége*/
footer {
  background-color: #d9d9d9;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}

footer p {
  background-color: white;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  font-family: "Outfit", sans-serif;
  font-weight: 550;
}
@media screen and (max-width: 750px) {
  .header_h1_large {
    font-size: 40px;
  }
}

@media screen and (max-width: 652px) {
  .header_h1 {
    font-size: 50px;
  }
  .header_h1_large {
    display: none;
  }
  .header_h1_medium {
    display: none;
  }
  nav {
    display: inline-block;
  }
  nav div {
    margin-bottom: 10px;
  }
  .header_h1_large_nav {
    display: block;
  }
  .header_h1_medium_nav {
    display: block;
  }
  nav a {
    margin-bottom: 10px;
  }
}
