@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: gray;
}

main {
    background-color: white;
    max-width: 900px;
    margin-inline: auto;
}

header {
    background-size: contain;

    display: grid;
    place-items: center;
}

.header_h1 {
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;

    color: white;
    background-color: rgba(9, 9, 9, 0.5);
    padding-inline: 30px;
    border-radius: 20px;
}

/*nav gombok eleje*/
nav {
    position: absolute;
    margin: 10px;
}

nav div img {
    width: 25px;
    grid-area: "a";
}

nav div {
    background-color: rgba(9, 9, 9, 0.5);
    padding: 10px;
    border-radius: 12px;
    display: grid;
    color: white;
    text-transform: uppercase;
    font-family: "Outfit", sans-serif;
    place-items: center;
    grid-template-areas: 
    "a t";
    gap: 5px;
    transition: transform 0.3s ease;
}

nav div .nav_p_small {
    display: none;
}

nav div:hover {
    transform: scale(1.05);
}

nav div p {
    grid-area: "t";
}

nav a {
    text-decoration: none;
    display: inline-block;
}
/*nav gombok vége*/

/*tartalom eleje*/
section {
    background-color: #d9d9d9;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

article div {
    background-color: white;
    border-radius: 10px;
}
/*tartalom vége*/

@media screen and (max-width:600px) {

    .header_h1 {
        font-size: 50px;
    }
    nav div .nav_p_big {
        display: none;
    }
    nav div .nav_p_small {
        display: block;
    }
}